[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "Molex-0548190589.pretty"]
	path = Molex-0548190589.pretty
	url = https://github.com/ai03-2725/Molex-0548190589.pretty
